body {
    background-color: lightgrey;
}

hr {
    background-color: rgb(16, 14, 143);
}

img {
    border: 1px solid #0f0000cb;
    border-radius: 100%;
    width: 150px;
    padding: 5px;
}


/*******************************************************class selectors******************************************/
.emails:hover {
    color: goldenrod;
}